[user]
	name = Jakub Kadlcik
	email = frostyx@email.cz

[core]
	editor = vim

[grep]
	linenumber = true
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
        forcepull = !git reset --hard main && git pull --rebase
[github]
	user = frostyx
[pagure]
	user = frostyx
