[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/tComment"]
	path = .vim/bundle/tComment
	url = https://github.com/vim-scripts/tComment.git
	ignore = dirty
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/AutoComplPop"]
	path = .vim/bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
	ignore = dirty
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/Vim-Jinja2-Syntax"]
	path = .vim/bundle/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
