! Reload xresources configuration with
!     xrdb ~/.Xresources


! Base16 Chalk
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #151515
#define base01 #202020
#define base02 #303030
#define base03 #505050
#define base04 #b0b0b0
#define base05 #d0d0d0
#define base06 #e0e0e0
#define base07 #f5f5f5
#define base08 #fb9fb1
#define base09 #eda987
#define base0A #ddb26f
#define base0B #acc267
#define base0C #12cfc0
#define base0D #6fc2ef
#define base0E #e1a3ee
#define base0F #deaf8f

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06


URxvt.font:     xft:bitstream vera sans mono:size=9:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=9:antialias=true

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false


!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Clickable URLS
! https://wiki.archlinux.org/index.php/Rxvt-unicode#Clickable_URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1


!! Copy-paste
! https://unix.stackexchange.com/a/329556
! Urxvt does copy paste by default with
!     alt + shift + c
!     alt + shift + v
! Just remap it to ctrl + shift to be consistent with other terminals
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard


!! Double click selection
! URxvt.selection.pattern-0: ^(/[^:]+):\
! URxvt*cutchars: "\\`\"'&()*,;<=>?@[]^{|}.#%+!/:-"'


!! Copy Paste & Other Extensions
! URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
! URxvt.copyCommand: xclip -i -selection clipboard
! URxvt.pasteCommand: xclip -o -selection clipboard
! URxvt.keysym.M-c: perl:clipboard:copy
! URxvt.keysym.M-v: perl:clipboard:paste
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
! URxvt.keysym.M-Escape: perl:keyboard-select:activate
! URxvt.keysym.M-s: perl:keyboard-select:search
! URxvt.keysym.M-u: perl:url-select:select_next
! URxvt.urlLauncher: firefox
! URxvt.underlineURLs: true
! URxvt.urlButton: 1
