/* Catppuccin Latte Sky userChrome.css*/

@media (prefers-color-scheme: light) {
  :root {
    --zen-colors-primary: #ccd0da !important;
    --zen-primary-color: #04a5e5 !important;
    --zen-colors-secondary: #ccd0da !important;
    --zen-colors-tertiary: #e6e9ef !important;
    --zen-colors-border: #04a5e5 !important;
    /* --toolbarbutton-icon-fill: #04a5e5 !important; */
    --lwt-text-color: #4c4f69 !important;
    --toolbar-field-color: #4c4f69 !important;
    --tab-selected-textcolor: rgb(40, 122, 167) !important;
    --toolbar-field-focus-color: #4c4f69 !important;
    --toolbar-color: #4c4f69 !important;
    --newtab-text-primary-color: #4c4f69 !important;
    --arrowpanel-color: #4c4f69 !important;
    --arrowpanel-background: #eff1f5 !important;
    --sidebar-text-color: #4c4f69 !important;
    --lwt-sidebar-text-color: #4c4f69 !important;
    --lwt-sidebar-background-color: #dce0e8 !important;
    --toolbar-bgcolor: #ccd0da !important;
    --newtab-background-color: #eff1f5 !important;
    --zen-themed-toolbar-bg: #e6e9ef !important;
    --zen-main-browser-background: #e6e9ef !important;
    --toolbox-bgcolor-inactive: #e6e9ef !important;
  }

  #permissions-granted-icon{
    color: #e6e9ef !important;
  }

  .sidebar-placesTree {
    background-color: #eff1f5 !important;
  }

  #zen-workspaces-button {
    background-color: #eff1f5 !important;
  }

  #TabsToolbar {
    background-color: #e6e9ef !important;
  }

  #urlbar-background {
    background-color: #eff1f5 !important;
  }

  .content-shortcuts {
    background-color: #eff1f5 !important;
    border-color: #04a5e5 !important;
  }

  .urlbarView-url {
    color: #04a5e5 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #dce0e8 !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #ccd0da !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #dce0e8;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #1e66f5 !important;
    --identity-icon-color: #1e66f5 !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #179299 !important;
    --identity-icon-color: #179299 !important;
  }

  .identity-color-green {
    --identity-tab-color: #40a02b !important;
    --identity-icon-color: #40a02b !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #df8e1d !important;
    --identity-icon-color: #df8e1d !important;
  }

  .identity-color-orange {
    --identity-tab-color: #fe640b !important;
    --identity-icon-color: #fe640b !important;
  }

  .identity-color-red {
    --identity-tab-color: #d20f39 !important;
    --identity-icon-color: #d20f39 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #ea76cb !important;
    --identity-icon-color: #ea76cb !important;
  }

  .identity-color-purple {
    --identity-tab-color: #8839ef !important;
    --identity-icon-color: #8839ef !important;
  }
}
